Repository pangaea-data-publisher/fuji: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

pylint:
  name: pylint
  entry: pylint
  verbose: true
  language: system

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

Add test for non existing API call
  tests/test_api.py
Due: pylint

Make create_google_cache_db proper python code
  fuji_server/helper/create_google_cache_db.py
Due: pylint

Apply precommit changes
  docker-compose.yml
  docs/source/user_guide/api.rst
  examples/mass_assessment/Create_FAIR_assessment_report.ipynb
  examples/mass_assessment/fuji_mass_eval_template.py
  fuji_server/__main__.py
  fuji_server/data/licenses.json
  fuji_server/data/linked_vocab.json
  fuji_server/data/metadata_standards.json
  fuji_server/data/metadata_standards_uris.json
  fuji_server/data/repodois.json
  fuji_server/evaluators/fair_evaluator_content_included.py
  fuji_server/evaluators/fair_evaluator_minimal_metadata.py
  fuji_server/evaluators/fair_evaluator_searchable.py
  fuji_server/helper/catalogue_helper_google_datasearch.py
  fuji_server/helper/create_google_cache_db.py
  fuji_server/helper/metadata_collector_rdf.py
  fuji_server/helper/metadata_collector_schemaorg.py
  fuji_server/helper/metadata_collector_xml.py
  fuji_server/helper/metadata_mapper.py
  fuji_server/helper/preprocessor.py
  fuji_server/helper/request_helper.py
  fuji_server/models/identifier_included_output.py
  setup.py
  tests/test_api.py
Due: pylint, version-number

Refactor app creation out of __main__ to reuse
  fuji_server/__main__.py
  fuji_server/app/__init__.py
  fuji_server/app/fuji_app.py
  fuji_server/client/__init__.py
  fuji_server/harvester/__init__.py
  fuji_server/models/__init__.py
  tests/conftest.py
  tests/test_api.py
  tests/test_server.ini
Due: pylint

Change deployment to Pypi CI of releases
  .github/workflows/cd.yml
  .github/workflows/python-publish.yml
Due: none

Fix error in ci.yml
  .github/workflows/ci.yml
Due: none

Add pylint to testing requirements, remove xkill from pytest run
  setup.py
  tests/run_all_cov.sh
Due: pylint, version-number

add docs of fuji evaluators
  fuji_server/evaluators/fair_evaluator.py
  fuji_server/evaluators/fair_evaluator_community_metadata.py
  fuji_server/evaluators/fair_evaluator_content_included.py
  fuji_server/evaluators/fair_evaluator_data_access_level.py
  fuji_server/evaluators/fair_evaluator_data_content_metadata.py
  fuji_server/evaluators/fair_evaluator_data_provenance.py
  fuji_server/evaluators/fair_evaluator_file_format.py
  fuji_server/evaluators/fair_evaluator_formal_metadata.py
  fuji_server/evaluators/fair_evaluator_license.py
  fuji_server/evaluators/fair_evaluator_metadata_preservation.py
  fuji_server/evaluators/fair_evaluator_minimal_metadata.py
  fuji_server/evaluators/fair_evaluator_persistent_identifier.py
  fuji_server/evaluators/fair_evaluator_related_resources.py
  fuji_server/evaluators/fair_evaluator_searchable.py
  fuji_server/evaluators/fair_evaluator_semantic_vocabulary.py
  fuji_server/evaluators/fair_evaluator_standardised_protocol_data.py
  fuji_server/evaluators/fair_evaluator_standardised_protocol_metadata.py
  fuji_server/evaluators/fair_evaluator_unique_identifier.py
Due: pylint

Replaced setup file with pyproject.toml
  pyproject.toml
  setup.py
  tests/__init__.py
Due: pylint, version-number

linting not needed import in evaluators module
  fuji_server/evaluators/fair_evaluator.py
  fuji_server/evaluators/fair_evaluator_community_metadata.py
  fuji_server/evaluators/fair_evaluator_content_included.py
  fuji_server/evaluators/fair_evaluator_data_content_metadata.py
  fuji_server/evaluators/fair_evaluator_file_format.py
  fuji_server/evaluators/fair_evaluator_formal_metadata.py
  fuji_server/evaluators/fair_evaluator_license.py
  fuji_server/evaluators/fair_evaluator_minimal_metadata.py
  fuji_server/evaluators/fair_evaluator_persistent_identifier.py
  fuji_server/evaluators/fair_evaluator_related_resources.py
  fuji_server/evaluators/fair_evaluator_searchable.py
  fuji_server/evaluators/fair_evaluator_semantic_vocabulary.py
  fuji_server/evaluators/fair_evaluator_standardised_protocol_data.py
  fuji_server/evaluators/fair_evaluator_standardised_protocol_metadata.py
  fuji_server/evaluators/fair_evaluator_unique_identifier.py
Due: pylint

remove unused import
  fuji_server/client/ex_evaluate.py
  fuji_server/controllers/fair_check.py
  fuji_server/controllers/fair_metric_controller.py
  fuji_server/helper/catalogue_helper.py
  fuji_server/helper/catalogue_helper_datacite.py
  fuji_server/helper/catalogue_helper_google_datasearch.py
  fuji_server/helper/catalogue_helper_mendeley_data.py
  fuji_server/helper/metadata_collector.py
  fuji_server/helper/metadata_collector_microdata.py
  fuji_server/helper/metadata_collector_opengraph.py
  fuji_server/helper/metadata_collector_ore_atom.py
  fuji_server/helper/metadata_collector_rdf.py
  fuji_server/helper/metadata_collector_schemaorg.py
  fuji_server/helper/metadata_provider.py
  fuji_server/helper/metadata_provider_rss_atom.py
  fuji_server/helper/metadata_provider_sparql.py
  fuji_server/helper/preprocessor.py
  fuji_server/helper/request_helper.py
  tests/conftest.py
  utils/validate_version_consistency.py
Due: pylint, version-number

minor fix on evaluators module
  fuji_server/evaluators/fair_evaluator.py
  fuji_server/evaluators/fair_evaluator_formal_metadata.py
Due: pylint

Add first test layout and fixtures for preprocessor
  tests/conftest.py
  tests/helper/test_preprocessor.py
Due: pylint

Update CI to use .[dev] install
  .github/workflows/ci.yml
Due: none

Move dev dependencies to poetry.extras and several
  pyproject.toml
Due: none

add docs for metadata collector in FUJI helper
  fuji_server/evaluators/fair_evaluator.py
  fuji_server/helper/metadata_collector.py
  fuji_server/helper/metadata_collector_datacite.py
  fuji_server/helper/metadata_collector_dublincore.py
  fuji_server/helper/metadata_collector_microdata.py
  fuji_server/helper/metadata_collector_opengraph.py
  fuji_server/helper/metadata_collector_ore_atom.py
  fuji_server/helper/metadata_collector_rdf.py
  fuji_server/helper/metadata_collector_schemaorg.py
  fuji_server/helper/metadata_collector_xml.py
Due: pylint

Added citation file
  CITATION.cff
  pyproject.toml
Due: none

add docs helper related to metadata provider and minor fix
  fuji_server/helper/metadata_collector.py
  fuji_server/helper/metadata_collector_datacite.py
  fuji_server/helper/metadata_collector_dublincore.py
  fuji_server/helper/metadata_collector_microdata.py
  fuji_server/helper/metadata_collector_opengraph.py
  fuji_server/helper/metadata_collector_ore_atom.py
  fuji_server/helper/metadata_collector_rdf.py
  fuji_server/helper/metadata_collector_schemaorg.py
  fuji_server/helper/metadata_collector_xml.py
  fuji_server/helper/metadata_mapper.py
  fuji_server/helper/metadata_provider.py
  fuji_server/helper/metadata_provider_csw.py
  fuji_server/helper/metadata_provider_oai.py
  fuji_server/helper/metadata_provider_rss_atom.py
  fuji_server/helper/metadata_provider_sparql.py
Due: pylint

minor fix on docs
  fuji_server/evaluators/fair_evaluator.py
  fuji_server/helper/metadata_collector.py
  fuji_server/helper/metadata_collector_datacite.py
  fuji_server/helper/metadata_collector_dublincore.py
  fuji_server/helper/metadata_collector_microdata.py
  fuji_server/helper/metadata_collector_opengraph.py
  fuji_server/helper/metadata_collector_ore_atom.py
  fuji_server/helper/metadata_collector_rdf.py
  fuji_server/helper/metadata_collector_schemaorg.py
  fuji_server/helper/metadata_collector_xml.py
  fuji_server/helper/metadata_provider.py
Due: pylint

add docs on catalogue helper
  fuji_server/helper/catalogue_helper.py
  fuji_server/helper/catalogue_helper_datacite.py
  fuji_server/helper/catalogue_helper_google_datasearch.py
  fuji_server/helper/catalogue_helper_mendeley_data.py
Due: pylint

Add new method to preprocessor, update tests, compare regression test to file
  fuji_server/helper/preprocessor.py
  tests/conftest.py
  tests/controllers/json_ref_data/10.1594_PANGAEA.902845.json
  tests/controllers/json_ref_data/10.1594_PANGAEA.902845_sum.json
  tests/controllers/test_fair_check.py
  tests/helper/test_preprocessor.py
Due: pylint

io.BytesIO as downloaded file buffer
  fuji_server/evaluators/fair_evaluator_data_content_metadata.py
Due: pylint

reduced number of 'extruct' formats -> massive reduction of memory consumption in some cases
  fuji_server/helper/request_helper.py
Due: pylint

v1.4.3
  fuji_server/controllers/fair_check.py
Due: pylint

Ensure verison consistency, update preprocessor test
  fuji_server/__init__.py
  fuji_server/app/fuji_app.py
  fuji_server/controllers/fair_check.py
  fuji_server/controllers/fair_metric_controller.py
  fuji_server/evaluators/fair_evaluator.py
  fuji_server/evaluators/fair_evaluator_data_access_level.py
  fuji_server/evaluators/fair_evaluator_data_provenance.py
  fuji_server/evaluators/fair_evaluator_file_format.py
  fuji_server/evaluators/fair_evaluator_formal_metadata.py
  fuji_server/evaluators/fair_evaluator_license.py
  fuji_server/evaluators/fair_evaluator_metadata_preservation.py
  fuji_server/evaluators/fair_evaluator_minimal_metadata.py
  fuji_server/evaluators/fair_evaluator_persistent_identifier.py
  fuji_server/evaluators/fair_evaluator_related_resources.py
  fuji_server/evaluators/fair_evaluator_searchable.py
  fuji_server/evaluators/fair_evaluator_semantic_vocabulary.py
  fuji_server/evaluators/fair_evaluator_standardised_protocol_data.py
  fuji_server/evaluators/fair_evaluator_standardised_protocol_metadata.py
  fuji_server/evaluators/fair_evaluator_unique_identifier.py
  fuji_server/helper/catalogue_helper.py
  fuji_server/helper/catalogue_helper_datacite.py
  fuji_server/helper/catalogue_helper_google_datasearch.py
  fuji_server/helper/catalogue_helper_mendeley_data.py
  fuji_server/helper/metadata_collector_microdata.py
  fuji_server/helper/metadata_collector_schemaorg.py
  fuji_server/helper/metadata_provider_sparql.py
  fuji_server/helper/preprocessor.py
  pyproject.toml
  tests/conftest.py
  tests/controllers/json_ref_data/10.1594_PANGAEA.902845.json
  tests/controllers/json_ref_data/10.1594_PANGAEA.902845_sum.json
  tests/controllers/test_fair_check.py
  tests/helper/test_preprocessor.py
  tests/test_api.py
  utils/validate_version_consistency.py
Due: pylint, version-number

Update README.md
  README.md
Due: none

Add generated doc files for module documenation, still warnings im docs build
  docs/README.md
  docs/source/conf.py
  docs/source/developer_guide/index.rst
  docs/source/images/fuji_logo.png
  docs/source/index.rst
  docs/source/module_guide/fuji_server.app.rst
  docs/source/module_guide/fuji_server.client.rst
  docs/source/module_guide/fuji_server.controllers.rst
  docs/source/module_guide/fuji_server.evaluators.rst
  docs/source/module_guide/fuji_server.harvester.rst
  docs/source/module_guide/fuji_server.helper.rst
  docs/source/module_guide/fuji_server.models.rst
  docs/source/module_guide/fuji_server.rst
  docs/source/module_guide/mg_index.rst
  docs/source/module_guide/mg_index_old.txt
  docs/source/readme_link.md
  docs/source/user_guide/api.rst
  docs/source/user_guide/index.rst
Due: none

Adjust create_google_lists to be proper python and run
  fuji_server/helper/create_google_lists.py
Due: pylint

Added FAIRsFAIR and HMC acknowledgement to readme, install instructions, AUTHORS file
  AUTHORS
  README.md
Due: none

Add new install to Dockerfile
  Dockerfile
Due: none

Second try
  Dockerfile
Due: none

Next try
  Dockerfile
Due: none

Stay with requirement install only in Dockerfile
  Dockerfile
Due: none

try to fix dockerfile
  Dockerfile
  MANIFEST.in
  pyproject.toml
Due: none

try to fix docs and pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  fuji_server/controllers/fair_metric_controller.py
  pyproject.toml
Due: pylint

disable pylint, disable sphinx -W mode
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  requirements.txt
Due: none

fixed preprocessing encoding bug
  fuji_server/helper/preprocessor.py
Due: pylint

explicitly stated how to create google cahce
  README.md
Due: none

Fixed some package dependencies required for waitress
  fuji_server/__main__.py
  fuji_server/config/server.ini
  fuji_server/controllers/fair_check.py
  fuji_server/controllers/fair_object_controller.py
  fuji_server/evaluators/fair_evaluator_content_included.py
  fuji_server/evaluators/fair_evaluator_data_content_metadata.py
  pyproject.toml
Due: pylint

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/)|(examples/)|(fuji_server/models/)
  version-number: any of: (?x)^(
  setup.py|
  utils/validate_version_consistency.py|
  masci_tools/__init__.py|
  .bumpversion.cfg
)$
