Repository pangaea-data-publisher/fuji: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, version-number

pylint:
  name: pylint
  entry: pylint
  verbose: true
  language: system

version-number:
  name: Check version numbers
  entry: python ./utils/validate_version_consistency.py
  language: system
  pass_filenames: false

version 3.0.0
  fuji_server/config/server.ini
Due: none

version 3.0.0, changed some logger messages, fixed evaluator searchable for datacite disabled cases
  fuji_server/evaluators/fair_evaluator_searchable.py
  fuji_server/helper/linked_vocab_helper.py
  pyproject.toml
Due: pylint

merged open, scientific and long term format mime lists into a single JSON which also conains more information about these file types; adjusted necessary methods in preprocessor.py accordingly
  fuji_server/data/file_formats.json
  fuji_server/helper/preprocessor.py
Due: pylint

refreshed metadata_standards.json
  fuji_server/data/metadata_standards.json
Due: none

Moved VALID_PID list from metadata Mapper to identifier_helper.py
  fuji_server/evaluators/fair_evaluator_persistent_identifier_metadata.py
  fuji_server/harvester/metadata_harvester.py
  fuji_server/helper/identifier_helper.py
  fuji_server/helper/metadata_mapper.py
Due: pylint

Moved VALID_PID list from metadata Mapper to identifier_helper.py; made VALID_PIDs a dict with some more info
  fuji_server/helper/identifier_helper.py
Due: pylint

build: update build-backend to poetry-core
  pyproject.toml
Due: none

fixed output of debug message
  fuji_server/evaluators/fair_evaluator_persistent_identifier_metadata.py
Due: pylint

included metric_test_requirements and metric_test_target in evaluator standard output (if available)
  fuji_server/evaluators/fair_evaluator.py
Due: pylint

included metric_test_requirements and metric_test_target in evaluator standard output (if available)
  fuji_server/models/fair_result_evaluation_criterium_requirements.py
Due: none

chore: update pre-commit-config
  .pre-commit-config.yaml
Due: none

ci: update ci jobs
  .github/workflows/ci.yml
Due: none

chore: use one single point in the code base for versioning
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/source/conf.py
  fuji_server/__init__.py
  fuji_server/controllers/fair_check.py
  pyproject.toml
  utils/validate_version_consistency.py
Due: pylint, version-number

ci: update ci run conditions
  .github/workflows/ci.yml
Due: none

chore: remove outdated swagger.yaml files
  fuji_server/yaml/swagger_auth.yaml
  fuji_server/yaml/swagger_old.yaml
Due: none

docs: update README.md
  README.md
Due: none

chore: remove unused python publish workflow
  .github/workflows/python-publish.yml
Due: none

added offering_method to output dict
  fuji_server/harvester/metadata_harvester.py
Due: pylint

changed/simplified swagger output models for criterium_requirements
  fuji_server/evaluators/fair_evaluator.py
Due: pylint

mapping
  fuji_server/helper/metadata_mapper.py
Due: pylint

added test specifications complying with F-UJI vocabulary terms to metrics yaml
  fuji_server/yaml/metrics_v0.5.yaml
Due: none

changed/simplified swagger output models for criterium_requirements
  fuji_server/yaml/swagger.yaml
Due: none

chore: drop python 3.7 support
  .github/workflows/ci.yml
  README.md
  pyproject.toml
Due: none

chore: remove codecov
  .github/workflows/ci.yml
  tests/codecov.yml
Due: none

chore: fix typos
  fuji_server/helper/preprocessor.py
  tests/conftest.py
  tests/helper/test_preprocessor.py
Due: pylint

chore: remove yapf from pre-commit config
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .pylintrc
  .style.yapf
  pyproject.toml
Due: none

signposting PID problem fixed see #362
  fuji_server/controllers/fair_check.py
  fuji_server/harvester/metadata_harvester.py
Due: pylint

disbaled debug message
  fuji_server/evaluators/fair_evaluator_community_metadata.py
Due: pylint

fixed small bug with missing licence id
  fuji_server/evaluators/fair_evaluator_license.py
Due: pylint

changed search engine support reognition, now only embedded dc, schema.org and dcat are considered to be search engine friendly, content negotiation no longer
  fuji_server/evaluators/fair_evaluator_searchable.py
Due: pylint

changed search engine support reognition, now only embedded dc, schema.org and dcat are considered to be search engine friendly, content negotiation no longer
  fuji_server/helper/metadata_collector.py
Due: pylint

isurl initialisation was missing
  fuji_server/evaluators/fair_evaluator_license.py
Due: pylint

isurl initialisation was missing; fixed wrong indet after isurl check
  fuji_server/evaluators/fair_evaluator_license.py
Due: pylint

fixed license accessibleforfree recognition
  fuji_server/evaluators/fair_evaluator_data_access_level.py
  fuji_server/evaluators/fair_evaluator_license.py
Due: pylint

improved output for FsF-R1.3-01M which now lists sources: FAIRsharing and RDA MSC record URIs to justify community endorsement
  fuji_server/evaluators/fair_evaluator_community_metadata.py
Due: pylint

updated metadata standards list
  fuji_server/data/metadata_standards.json
Due: none

chore: remove obsolete test client modules
  .gitignore
  fuji_server/client/__init__.py
  fuji_server/client/ex_evaluate.py
  fuji_server/client/fuji_test.py
Due: pylint

build: switch to hatch build backend
  pyproject.toml
Due: none

dependency fix
  pyproject.toml
Due: none

Path conditions:
  pylint: any of: \.py$, but not: ^(docs/)|(examples/)|(fuji_server/models/)
  version-number: any of: (?x)^(
  setup.py|
  utils/validate_version_consistency.py|
  masci_tools/__init__.py|
  .bumpversion.cfg
)$
